html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            h3 Welcome Home!!!!!

         div
            label(for = "Username") Username:
            input(name = "Username" placeholder="name here")
         br
         div
            label(for = "Password") Password:
            input(name = "Password" placeholder = "pass here" type="password")
         br
         button(type = "submit") Log in!!